<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>DSSC</title>
    <% styles.forEach(function (style) { %><%-`
    <style>
      ${style}
    </style>
    `%><%}); %>
  </head>
  <body>
    <header>
      <div class="actions">
        <button
          class="icon-button"
          id="start-capture"
          title="start screen capture"
        ></button>
        <button
          class="icon-button"
          id="stop-capture"
          title="stop screen capture"
        ></button>
      </div>
      <div class="links">
        <a
          href="https://github.com/ethanmassie/dead-simple-screen-capture"
          target="_blank"
          id="github-link"
        >
        </a>
      </div>
    </header>
    <video id="capture-output" autoplay></video>
    <% scripts.forEach(function (script) { %><%-`
    <script>
      ${script}
    </script>
    `%><%}); %>
  </body>
</html>
