html {
  background-color: rgb(14 21 19);
  color: rgb(222 228 224);
}

html, body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 16px 16px;
}

#github-link svg {
  border-radius: 50%;
  filter: invert(83%) sepia(4%) saturate(2425%) hue-rotate(115deg) brightness(93%) contrast(95%);
}

.actions, .links {
  display: flex;
  gap: 16px;
}

.links a {
  display: flex;
  align-items: center;
}

#capture-output {
  object-fit: scale-down;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 999px;
  border: unset;
  background-color: rgb(132 214 194);
  color: #000;
  cursor: pointer;
}
